{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Список оплат</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'list_department' %}">Главное</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_staff' %}">Сотрудники</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Сумма списания</th>
                                <th>Комментарий</th>
                                <th>Сотрудник</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ payment.quantity }}</td>
                                    <td>{{ payment.comment }}</td>
                                    <td>{{ payment.staff }}</td>
                                    <td>
                                        <a href="{% url 'transaction_update' payment.id %}"
                                           class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> <!-- Карандашик -->
                                        </a>
                                        <form action="{% url 'transaction_delete' payment.id %}" method="post"
                                              style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i> <!-- Мусорка -->
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'transaction' %}" class="btn btn-primary">Произвести оплату</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}