{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Создать сотрудника</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'list_staff' %}">Главное</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_staff' %}">Сотрудники</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form method="post" id="create_form" name="create_form" class="card-body row g-3">
                        {% csrf_token %}
                        {% for f in form %}
                            {% if f.name == 'salary_stratage' %}
                                <!-- Выпадающий список для выбора выходных -->
                                <div class="col-4">
                                    <label class="form-label">{{ f.label }}</label>
                                    <div class="form-check">
                                        <input type="radio" name="salary_strategy" value="Month" id="id_salary_month"
                                               class="form-check-input"
                                               {% if f.value == 'Month' %}checked{% endif %}>
                                        <label for="id_salary_month" class="form-check-label">Month</label>
                                    </div>
                                    <div class="form-check">
                                       <input type="radio" name="salary_strategy" value="Hour" id="id_salary_hours"
                                               class="form-check-input"
                                               {% if f.value == 'Hour' %}checked{% endif %}>
                                        <label for="id_salary_hours" class="form-check-label">Hours</label>
                                    </div>
                                    {% if f.errors %}
                                        <div class="text-danger">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% elif f.name == 'is_active' or f.name == 'is_flexible_schedule' %}
                                <!-- Чекбоксы для специфических полей -->
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" name="{{ f.name }}" id="{{ f.id_for_label }}"
                                               class="form-check-input" {% if f.value %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ f.id_for_label }}">
                                            {{ f.label }}
                                        </label>
                                        {% if f.errors %}
                                            <div class="text-danger">
                                                {{ f.errors|join:", " }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% elif f.name == 'start_time' or f.name == 'end_time' %}
                                <div class="col-md-4">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    <input type="time" name="{{ f.name }}" id="{{ f.id_for_label }}"
                                           class="form-control" value="{{ f.value|default_if_none:'' }}" required>
                                    {% if f.errors %}
                                        <div class="text-danger">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% elif f.name == 'date_of_birth' %}
                                <div class="col-md-4">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    <input
                                            {# type="date"
                                               name="{{ f.name }}"
                                               id="{{ f.id_for_label }}"
                                               class="form-control"
                                               value="{{ f.value|date:'Y-m-d' }}"
                                               placeholder="ГГГГ-ММ-ДД"
                                               pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            {% elif f.name == 'phone_number' %}
                                <div class="col-md-4">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    <input type="tel" name="{{ f.name }}" id="{{ f.id_for_label }}"
                                           class="form-control form-control-sm" value="{{ f.value|default:'' }}"
                                           placeholder="+998 906562138"
                                           pattern="\+?[0-9]{1,4}[\s\-]?[0-9]{1,14}([\s\-]?[0-9]{1,13})?"
                                           title="Phone number format: +123 456 7890" required>
                                    {% if f.errors %}
                                        <div class="text-danger">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <!-- Обычные поля -->
                                <div class="col-md-4">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    {{ f|add_class:'form-control' }}
                                    {% if f.errors %}
                                        <div class="text-danger">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="card-footer row justify-content-end">
                            <button class="btn btn-primary col-auto" type="submit" form="create_form">Сохранить</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
{% endblock %}
