{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Создать сотрудников</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'list_department' %}">Главное</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_staff' %}">Сотрудники</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Баланс</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for staff in staffs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ staff.name }}</td>
                                    <td>{{ staff.surname }}</td>
                                    <td>{{ staff.balance }}</td>
                                    <td>
                                        <a href="{% url '/' %}"
                                           class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> <!-- Карандашик -->
                                        </a>
                                        <form action="{% url '/' %}" method="post"
                                              style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i> <!-- Мусорка -->
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'create_staff' %}" class="btn btn-primary">Добавить сотрудника</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}