{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block content %}
    <div class="container-fluid ">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Создать Отдел</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'list_department' %}">Главное</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_department' %}">Отделы</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form method="post" id="create_form" name="create_form" class="card-body row g-4">
                        {% csrf_token %}
                        {% for f in form %}
                            {% if f.name == 'weekend_days' %}
                                <!-- Выпадающий список для выбора выходных -->
                                <div class="col-12">
                                    <label for="id_weekend_days" class="form-label">{{ f.label }}</label>
                                    <div id="id_weekend_days" class="form-select">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="0"> Понедельник
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="1"> Вторник
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="2"> Среда
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="3"> Четверг
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="4"> Пятница
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="5"> Суббота
                                        </label>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="weekend_days"
                                                   value="6"> Воскресенье
                                        </label>
                                    </div>
                                    {% if f.errors %}
                                        <div class="invalid-feedback">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% elif f.name == 'lateness_penalty' or f.name == 'close_attendance' or f.name == 'salary_for_lunch' %}
                                <!-- Чекбоксы для специфических полей -->
                                <div class="col-md-6">
                                    <div class="form-check">
                                        {{ f|add_class:'form-check-input' }}
                                        <label class="form-check-label" for="{{ f.id_for_label }}">
                                            {{ f.label }}
                                        </label>
                                        {% if f.errors %}
                                            <div class="invalid-feedback">
                                                {{ f.errors|join:", " }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% elif f.name == 'start_work_time' or f.name == 'end_work_time' or f.name == 'lunch_time' or f.name == 'end_lunch' %}
                                <!-- Поля для времени -->
                                <div class="col-md-6">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    <input type="time" name="{{ f.name }}" id="{{ f.id_for_label }}"
                                           class="form-control" value="{{ f.value|default_if_none:'' }}" required>
                                    {% if f.errors %}
                                        <div class="invalid-feedback">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <!-- Обычные поля -->
                                <div class="col-md-6">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    {{ f|add_class:'form-control' }}
                                    {% if f.errors %}
                                        <div class="invalid-feedback">
                                            {{ f.errors|join:", " }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit" form="create_form">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

{% endblock %}